.header img {
    height: 80px;
}
.header{
    text-align: center;
}
nav {
    line-height: 40px;
    background-color: black;
}
nav a, nav span {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;

}
nav a:hover, nav span:hover{
    background-color: gray;
}
.active{
    background-color: green;
    color: red;
}